.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  transition: 0.2s;
  opacity: 0;
  font-size: 20px;
  padding: 5px 2px;
  display: flex;
}

.container:hover {
  background-color: #ddd;
  cursor: pointer;
}
