.modal {
  position: absolute;
  left: -200px;
  top: 0;
  width: 40%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}

.item {
  font-family: "Lato";
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
}

.item:hover {
  background-color: #eee;
  border-radius: 10px;
}

.hidden {
  display: none;
}
