.container {
  position: relative;
}

.quote {
  border-left: 5px solid #555;
  padding-left: 5px;
  margin: 15px 5px;
}

.callout {
  padding: 15px;
  background-color: #eee;
  margin: 15px 5px;
}

.sideButton {
  position: absolute;
  left: -30px;
}

.container:hover .sideButton {
  opacity: 0.5;
}

.sideButtonFocus {
  opacity: 0.5;
}
