[contentEditable="true"]:empty:focus:before {
  content: attr(data-text);
  opacity: 0.5;
  cursor: text;
}

.input {
  box-sizing: border-box;
  font-family: "Lato";
  width: 100%;
  outline: none;
  font-size: 18px;
  border: 0;
  padding: 5px 0;
  padding-left: 0;
  margin: 5px 0;
  background-color: #eee;
}

.text {
  font-size: 20px;
}

.h1 {
  font-family: "Lato-Bold";
  font-size: 50px;
}
